@media only screen and (max-width: 600px) {
<link rel="preconnect" href="https://fonts.googleapis.com">/*Work Sens Font from Google*/
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Paytone+One&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:wght@500;600;700;800&display=swap" rel="stylesheet">
*{
    font-family: 'Open Sans', sans-serif;
font-family: 'Paytone One', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Work Sans', sans-serif;
}

    
}
    
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
     font-size: 3rem;
     font-weight: 700;
     color: blue;
}
nav > ul {
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.74);
}
.banner{
color: #F00;
text-align: bottom;
font-family: Inter;
font-size: 50px;
font-style: normal;
font-weight: 2000;
line-height: 50px;
transform: translate(25%, 605%);
}
.banner-description{
color: white;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 20;
line-height: 25px;
transform: translate(-10%, 605%);

}
.btn-primary{
color: red;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 50;
line-height: 18px;
transform: translate(500%, 1505%);

}
.btn-secondary{
    color: red;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    line-height: 18px;
    transform: translate(700%, 1505%);
    
    }
    .btn-third{
        color: red;
        text-align: center;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 100;
        line-height: 18px;
        transform: translate(950%, 1505%);
        
        }
        .btn-fourth{
            color: red;
            text-align: center;
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 100;
            line-height: 18px;
            transform: translate(500%, 1505%);
            
            }
            
/*Poularity Styule*/
            .Popularity{
                display: flex;
                float: 100px;
                padding: 10px;
                font-weight: 20;
                line-height: 25px;
                transform: translate(-10%, 605%);
            }
            /*<style type="text/css">
            .img_deg {
              float: 100px;
              padding: 10px;
            }
            img {
              height: 400px;
              width: 400px;
              float: right;
            }
          </style>*/
         
.body{
    <form action="action_page.php">
      <div class="Container2">
        <h2><p>Subcribe to our Newsletter</p></h2>
        <p>Get all of our updated news and offer</p>
      </div>
      <div class="Container2" style="background-color: aquamarine">
        <input type="text" placeholder="Enter your name" name="name" required />
        <input
          type="text"
          placeholder="Enter your email address"
          name="email"
          required
        />
        <label>
          <input type="checkbox" checked="checked" name="Subcribe" />Daily
          Newsletter
        </label>
      </div>
      <div class="Container2">
        <input type="submit" value="Subcribe" />
        <button>Like</button>
      </div>
    </form>
}
/*offer section Style*/
.offer{
  margin-top: 50px;
  display: flex;
  gap: 100px;
}
.offer.section-title{
  border-left: 5px solid #F00;
  padding-left: 20px;
}
.offer-content.card{
  padding: 20px;
  margin-left: 5px;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.6);

}
.Containerimage{
    background-color: bisque;
    display: flex;
}
.container1{
    text-align: center;
    
}
.Container2{
    float: 100px;
                padding: 1px;
                font-weight: 1;
                line-height: 1px;
                transform: translate(0%, 5%);
    
  }
  .column{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
} 
         
      